/* blog-style.css */
.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    margin-bottom: 20px;
}

.narration {
    color: #444;
    background-color: #eef2f6;
    font-style: normal;
    margin-bottom: 1em;
    padding: 10px;
}

.inner-dialogue {
    font-style: italic;
    color: #007acc;
    background-color: #e7f4ff;
    padding: 10px;
    padding-left: 20px;
}

.inner-dialogue em {
    font-style: italic;
}

.terminal {
    font-family: 'Fira Code', monospace;
    overflow: hidden; /* hide the overflow */
    text-align: left; /* left align the text */
    white-space: preline;
}

.prompt {
    font-family: 'Fira Code', monospace;
    overflow: hidden; /* hide the overflow */
    text-align: left; /* left align the text */
    white-space: preline;
}

/* also, always prepend the '$' character to the text */
.prompt::before {
    content: '$ ';
}

.output {
    font-family: 'Fira Code', monospace;
    overflow: hidden; /* hide the overflow */
    text-align: left; /* left align the text */
    white-space: preline;
}

/* also, always prepend the '>' character to the text */
.output::before {
    content: '> ';
}

pre {
    padding: 0;
}

/* style for suppossedly viewing a file */
/* it is a scrollable code block */
/* only 5 lines are shown at a time */
/* make the font small */
.file-viewer {
    white-space: pre-line;
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Fira Code', monospace;
    text-align: left; /* left align the text */
    max-height: 10em; /* only show 10 lines */
    overflow-y: scroll; /* add a scrollbar */
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

