/* General body styles */
body {
    font-family: Arial, sans-serif; /* Sets the font for the body text */
    background-color: #f4f4f9; /* Light grey background color */
    margin: 0;
    padding: 20px;
    color: #333; /* Dark grey text color */
}

/* Header styles */

h1 {
    font-size: 24px; /* Larger font size for main heading */
    color: #286390; /* Dark blue color for headings */
}

h2 {
    font-size: 20px; /* Slightly smaller font size for secondary headings */
    color: #286370; /* Dark blue color for headings */
}

/* Paragraph styles */
p {
    line-height: 1.6; /* Makes text easier to read */
    /* make text justified */
    text-align: justify;
    margin: 10px 0;
    flex-grow: 1;
}

/* Link styles */
a {
    color: #26783f; /* Darkish green color for the list items */
    text-decoration: none; /* Removes underline from links */
}

a:hover {
    text-decoration: underline; /* Adds underline on hover for links */
}

/* Navigation styles */
nav {
    margin-bottom: 20px; /* Adds space below the navigation bar */
}

nav ul {
    list-style-type: none; /* Removes bullet points from the list */
    padding: 0;
}

nav ul li {
    display: inline; /* Displays list items inline */
    margin-right: 10px; /* Adds space between the list items */
}

/* Footer styles */
footer {
    text-align: center; /* Centers the text in the footer */
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #ccc; /* Adds a light grey top border to the footer */
}

/* Media query for responsive design */
@media (max-width: 600px) {
    body {
        padding: 10px; /* Reduced padding for small devices */
    }

    nav ul li {
        display: block; /* Stacks nav items vertically on small screens */
        margin-bottom: 5px;
    }
}

/* Container styles */
.container {
    max-width: 1200px; /* Sets the maximum width of the container */
    margin: 0 auto; /* Centers the container on the page */
    padding: 0 20px; /* Adds padding to the sides of the container */
}

.image-container {
    display: flex;
    justify-content: start;
    gap: 20px;
}

/* banner-pic style is for an image that is used as a banner */
.banner-pic {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: 3px solid #ccc;
    object-fit: cover;
}

